<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Albums</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header>
        <div class="headerbg">

            <a th:href="@{/index}"><h3>WChallenge</h3></a>

        </div>
    </header>
    <div class="divPrincipal">
    	<div class="col-12 text-center mt-5 mb-0">
        	<h2>Albums</h2>
    	</div>
        <table border="1px">
			<a class="btn btn-primary" th:href="@{/index}">Volver al menú principal</a>
			<br>
			<br>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>UserId</th>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="album : ${albums}">
                    <td><span th:text="${album.id}"></span></td>
                    <td><span th:text="${album.userid}"></span></td>
                    <td><span th:text="${album.title}"></span></td>
                    <td><a th:href="@{/album/{id}(id=${album.id})}">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br> 
    </div>
</body>
</html>